{% extends 'base.html' %}

{% block title %}
  Home
{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Newspaper App</h1>

  <p class="lead">A newspaper website built with Django</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" href="{% url 'article_list' %}">View All Articles</a>
  </p>
</div>

<!--
{% if user.is_authenticated %}
  Hi {{user.username}}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  Hi. You are not logged in
  <p><a href="{% url 'login' %}">Log In</a></p>
  <p><a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}
-->

{% endblock content %}
